<h1></h1>

<section class="source_section">
	<h2>Enabled buttons</h2>
	<section class="source_example">
		<a href="#" class="btn btn-default">Default</a>
		<a href="#" class="btn btn-primary">Primary</a>
		<a href="#" class="btn btn-success">Success</a>
		<a href="#" class="btn btn-info">Info</a>
		<a href="#" class="btn btn-warning">Warning</a>
		<a href="#" class="btn btn-danger">Danger</a>
		<a href="#" class="btn btn-link">Link</a>
	</section>
</section>

<section class="source_section">
	<h2>Disabled buttons</h2>
	<section class="source_example">
		<button class="btn btn-default disabled">Default</button>
		<button class="btn btn-primary disabled">Primary</button>
		<button class="btn btn-success disabled">Success</button>
		<button class="btn btn-info disabled">Info</button>
		<button class="btn btn-warning disabled">Warning</button>
		<button class="btn btn-danger disabled">Danger</button>
		<button class="btn btn-link disabled">Link</button>
	</section>
</section>

<section class="source_section">
	<h2>Buttons Sizing</h2>
	<section class="source_example">
		<button class="btn btn-primary btn-lg">Large button</button>
		<button class="btn btn-primary">Default button</button>
		<button class="btn btn-primary btn-sm">Small button</button>
		<button class="btn btn-primary btn-xs">Mini button</button>
	</section>
</section>